:root {
    font: message-box;
    color: #0c0c0d;
  }
  body {
    font-size: 1.1em;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  h1 {
    font-weight: 600;
    font-size: 1.25em;
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  h2 {
    font-weight: 600;
    font-size: 1.1em;
    margin: 0.5em 0;
  }
  p {
    margin: 0.5em 0;
  }
  input {
    width: 100%;
    box-sizing: border-box;
  }
  li {
    padding-top: 1em;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #notifications {
    flex-grow: 1; 
    border-radius: 10px;
    background-color: lightgrey;
    text-align: center;
    padding: 2px;
    margin: 0 2em 0 0;
    visibility: hidden;
  }
  #notifications[data-status="ok"] {
    border: 1px solid darkgreen;
    color: darkgreen;
    visibility: visible;
  }
  #notifications[data-status="fail"] {
    border: 1px solid red;
    color: red;
    visibility: visible;
  }
